<script src="<%= request.mainURL%>/js/jquery-3.3.1.min.js"></script>
<script src="<%= request.mainURL%>/js/popper.min.js"></script>
<script src="<%= request.mainURL%>/js/bootstrap.min.js"></script>
<script src="<%= request.mainURL%>/js/sweetalert.min.js"></script>

</body>
</html>