<%- include("includes/header", {
    title: "Forgot Password"
}) %>

<div class="container d-flex justify-content-center align-items-center" style="margin-top: 150px;">
    <div class="col-md-6 col-lg-4">
        <%- include("includes/ResponseAlert", {
            "request": request
        }) %>

        <div class="card p-4 shadow-sm" style="background-color: rgba(225, 225, 225, 0.1); border: none;">
            <h3 class="text-center mb-4" style="color: aliceblue;">Forgot Password</h3>
            <form action="<%= request.mainURL %>/SendRecoveryLink" method="post">
                <div class="form-group mb-3">
                    <label style="color: aliceblue; font-size: large;">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter Email" required />
                </div>

                <div class="text-center">
                    <input type="submit" value="Send Recovery Link" class="btn btn-primary w-100" />
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("includes/footer") %>
